{% extends 'base.html.twig' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Bienvenue!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dicta maxime minus quae. Veniam cum qui unde, odit tempore omnis, repudiandae
        explicabo eos enim labore id magnam vero! Perspiciatis, doloremque.</p>
    </div>
    
    <div class="container">
        
     </div>
{% endblock %}
